
html{
    width: 100%;
    height: 100%;
    display: -webkit-box;
}
body{
    width: 100%;
    height: 100%;
}
.col-10{
    width: 100%;
}

/* Instagram section base */

.instagram-section svg{
    width: 32px;
    height: 32px;
}
.instagram-section a{
    text-decoration: none;
}
.instagram-section a:hover{
    background-color: #ccc;
}
.instagram-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* About me section base */
#about-me-text p{
    text-align: left;
    font-size: 1rem;
    line-height: 1.75;
}
.about-me-section{
    padding-bottom: 50px;
}


img{
    border-radius: 25px;
}

#flexbox-container{
    border-bottom: 1px solid #ccc;
}
#gallery{
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
}
.image-gallery-heading{
    text-align: center;
    
}
#back-to-top{
    text-align: center;
}

.custom-carousel{
   
    margin: 0 auto;
    
    padding-bottom: 50px;
    padding-top: 20px;
}


.nav-bar{
    border-bottom: 1px solid #ccc;
    
}
h2{
    text-align: center;
    margin: 0;
}
.image-gallery-section{
    border-bottom: 1px solid #ccc;
}
.pricing-section{
  padding-top: 50px;
    
   
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.card img{
   border-radius: 25px;
}

h5,p{
    text-align: center;
}

.pricing-flex, .contact-flex{
     justify-content: center;
}



.carousel-thumbnails {
    --slide-aspect-ratio: 3 / 2;
}
.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnails__scroller {
    display: flex;
    gap: var(--sl-spacing-small);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-padding: var(--sl-spacing-small);
}
.thumbnails__scroller::-webkit-scrollbar {
    display: none;
}

.thumbnails__image {
    width: 64px;
    height: 64px;
    object-fit: cover;

    opacity: 0.3;
    will-change: opacity;
    transition: 250ms opacity;

    cursor: pointer;
    border-radius: 35px;
}

.thumbnails__image.active {
    opacity: 1;
}
.card-container {
   
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 30px;
}

.card {
    
    /* Two cards in a row with 20px gap in between */

    border-radius: 25px!important;
    border: none;
                    
}
.contact-section{
    padding-top: 50px;
    
}




@media (max-width: 385px){
    .nav-item a{
        font-size: 0.7rem!important;
    }
}

/* small devices (phones, 350px and up) */
@media (max-width: 575px) {
    .card-container {
        flex-direction: column;
        gap: 100px;
        padding-left: 50px;
       padding-right: 50px;
               
    }
    .thumbnails{
        display: none;
    }
    #flexbox-container-about-me{
        padding-top: 2px!important;
        padding-bottom: 2px!important;
    }
    #card-conatainer-bs{
    margin: 0 auto;
    }
    #mate-image{
        margin: 0;
    }
   
    .card{
       
      
      margin: 0 auto;
      margin-bottom: 60px;
    }
    .card-title{
        font-size: 1.2rem;
    }
    .card-text{
        font-size: 0.9rem;
        font-weight:300;
    }
    .pricing-section{
        
    }
    .nav-item a{
        font-size: 0.9rem;
    }

    .combine-image img{
        margin: 0 auto;
    }
    #about-me-flexbox{
        justify-content: center;
    }
    #about-me-text{
    
    }
    #about-me-text p {
        font-size: .9rem;
        text-align: center;
    }
    #about-me h1{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 20px;
    }
    #about-me{
        padding-bottom: 40px;
    }
   
    
    
    .thumbnails__image{
        width: 39px;
        height: 39px;
    }
    .thumbnails__image{
        width: 39px;
        height: 39px;
    }
          
    #carousel-thumb{
        
        margin: 0 auto;
       
    }
    .card-body{
        text-align: center;
    }
    
    label{
        font-size: .9rem;
        font-weight: 300;
    }
    .form-control{
       
        font-size: .9rem;
        border: 2px solid black;
    }
    .form-control input{
        font-size: 0.9rem;
    }
    #submit-button{
        font-size: .9rem;
        align-self: center;
    }
    .pricing-heading h3{

        font-size: 1.5rem;

        font-weight:200;
        text-align: center;
    }

    .purchase{
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
    }
   

           
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
    
    
    .nav-item a{
        font-size: 1.2rem!important;
    }
    #card-conatainer-bs{
    margin: 0 auto;
   }

    #about-me-flexbox{
       justify-content: center;
       
       
    }
    #about-me h1{
     
        font-size: 2.5rem;
        text-align: center;
        padding-top: 40px!important;
    }
    
    
    #flexbox-container-about-me{
        min-width: 100%;
    }
    .combine-image img{
        margin: 0 auto;
       
    }
    .col-sm-2{
       width: 50%!important;
    }
    
    .card{
        margin-bottom: 50px;
        align-self: center;
    }
    .card-title{
        font-size: 2.7rem;
    }
    .card-text{
        font-size: 1.5rem;
        font-weight:300;
    }
    .card-body{
        text-align: center;
    }
    .card-container{
        padding-left: 50px;
        padding-right: 50px;
        text-align: -webkit-center;
    }
    
    p{
        font-size: 1rem!important;
        text-align: center!important;
       
    }
   
    label{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .form-control{
        min-height: 60px;
        font-size: 1rem;
        border: 2px solid black;
    }
    #submit-button{
        font-size: 1.5rem;
        align-self: center;
    }
    .mb-3{
        text-align: center;
    }
    .pricing-heading h3{

        font-weight:200;
        text-align: center;
    }
    .purchase{
        font-size: 2.3rem;
        font-weight: 200;
        text-align: center;
    }

            

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)  {
  /* Add your specific styles for laptop size screens here */

  .instagram-section a{
    font-size: 1.5rem;
    font-weight: 200;
    
  }


  

  .col-sm-2{
       width: 25%!important;
    }

  header{
    min-height: -webkit-fill-available;
  }
  
  /* For example, you can adjust font sizes or paddings to fit the larger screen */
  body {
    font-size: 16px;
  }
  


  #about-me-flexbox{
    justify-content: center;
  }

  #carousel-thumb{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
  }
  .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    
  }
  .card-body{
    min-height: 10rem;
  }

  #card-conatainer-bs{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 350px;
  }

  .image-gallery-heading h2, .pricing-heading h2, .contact-section h2{
        font-size: 2.4rem;
    }
    .pricing-heading h3{
        font-size: 1.5rem;
        font-weight:200;
    }
    .purchase{
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
    }
    .card{
        max-width: 350px;
    
    }
    .card-title{
        font-size: 1.5rem;
    }
    .card-text{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
    #submit-button{
        font-size: 1rem;
    }

    #about-me-text{
       
    }
    h1{
     padding-top: 30px;
     font-size: 4rem!important;
    }

    .form-control{
        min-height: 30px;
    }
    #carousel-thumb{
        max-width: 1030px;
        margin: 0 auto;
    }

    #about-me{
        padding-bottom: 40px;
        padding-top: 60px;
    }



  /* You can add more styles as needed to optimize the layout for laptops */
}